body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.weather-widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#weatherInfo {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

#temperature, #description {
    font-size: 18px;
    margin-bottom: 8px;
}

#weatherIcon {
    width: 50px;
    height: 50px;
}
